@model IEnumerable<SISProject.Models.SISDB_Data.Faculties>
@{
    ViewBag.Title = "ListingFaculties";
}
<div class="row">
    <div class="col-lg-10">
        <h1>Faculties</h1>
    </div>
</div>
<div class="card">
    <div class="card">
        <div class="card-body">
            <div class="table">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Faculties</th>
                            <th scope="col"></th>
                            <th scope="col" align="right">Operations</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.f_Name)</td>
                                <td></td>
                                <td><a href="/Faculty/EditingFaculties/@item.TableID"><i class="material-icons">create</i></a> <a href="/Faculty/DeletingFaculties/@item.TableID"><i class="material-icons">delete_sweep</i></a></td>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="card-footer m-t--25" align="right">
        <a href="/Home/Index"><button type="button" class="btn btn-primary">Back to Previous Page</button></a>
    </div>
</div>